footer{
    background-color:#140b29;
    text-align: center;
    font-family: sans-serif;
    color: rgb(235, 220, 220);
    padding: 15px;
    bottom: 0;
    width: 100%;    
}
* {
    margin: 0;
  }
html, body {
    height: 100%;
  }
.wrapper {
    min-height: calc(100% - 4rem);
  }
.scroll {
    max-height: 150px;
    overflow-y: auto;
}

body {

  /* Ubicación de la imagen */
  
  background-image: url(./imagenes/fondobody.jpg);
  
  /* Para dejar la imagen de fondo centrada, vertical y
  
  horizontalmente */
  
  background-position: center center;
  
  /* Para que la imagen de fondo no se repita */
  
  background-repeat: no-repeat;
  
  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  
  background-attachment: fixed;
  
  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  
  background-size: cover;
  
  /* Se muestra un color de fondo mientras se está cargando la imagen
  
  de fondo o si hay problemas para cargarla */
  
  background-color: #37B37B;
  
  }
